<!DOCTYPE HTML>
<html lang="ru">
<head>
   <base href="http://{$smarty.server.HTTP_HOST}/">
   <meta charset="UTF-8">
   <title>Авторизация</title>
   <link rel="shortcut icon" href="/images/favicon.png">
   <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
   <!--[if lt IE 9]>
   <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
   <![endif]-->
   <link rel="stylesheet" href="/scripts/plugins/bootstrap/css/bootstrap.min.css"/>
   <script type="text/javascript" src="/scripts/plugins/bootstrap/js/bootstrap.min.js"></script>

   <style type="text/css">
      body {
         padding-top      : 40px;
         padding-bottom   : 40px;
         background-color : #f5f5f5;
      }

      .form-signin {
         max-width             : 400px;
         padding               : 19px 29px 29px;
         margin                : 0 auto 20px;
         background-color      : #fff;
         border                : 1px solid #e5e5e5;
         -webkit-border-radius : 5px;
         -moz-border-radius    : 5px;
         border-radius         : 5px;
         -webkit-box-shadow    : 0 1px 2px rgba(0, 0, 0, .05);
         -moz-box-shadow       : 0 1px 2px rgba(0, 0, 0, .05);
         box-shadow            : 0 1px 2px rgba(0, 0, 0, .05);
      }

      .form-signin .form-signin-heading,
      .form-signin .checkbox {
         margin-bottom : 10px;
      }

      .form-signin input[type="text"],
      .form-signin input[type="password"] {
         font-size     : 16px;
         height        : auto;
         margin-bottom : 15px;
         padding       : 7px 9px;
      }

   </style>
   <link rel="stylesheet" href="../../../www/scripts/plugins/bootstrap/css/bootstrap-responsive.min.css"/>
</head>
<body>
<div class="container">
   <form class="form-signin" method="post" action="/">
   {*if $error}
      <div class="alert alert-error">
         <strong>
            Ошибка:
         </strong>
         {if $error}{$error}{else}неизвестная ошибка{/if}
      </div>
   {/if*}
      <h2 class="form-signin-heading">Небходима авторизация</h2>
      <input type="text" class="input-block-level" placeholder="Email" name="login">
      <input type="password" class="input-block-level" placeholder="Пароль" name="passwd">
      <button class="btn btn-large btn-primary" type="submit" name="__authorize">Вход</button>
   </form>

</div>

</body>
</html>