/* bootstrap overrides */
body {
   padding-top : 60px; /* 60px to make the container go all the way to the bottom of the topbar */
   background  : #fff;
}

.modal {
   width       : 1260px;
   margin-left : -630px;
}

.spacer {
   margin : 24px 0;
}

input[type="radio"], input[type="checkbox"] {
   margin-top : 0;
}

.table-sortable thead th.header {
   min-width : 34px;
}

.table-sortable thead th.header i.icon-chevron-up, .table-sortable thead th.header i.icon-chevron-down {
   display : none;
}

.table-sortable thead th.header.headerSortUp i.icon-chevron-up {
   display : inline-block;
}

.table-sortable thead th.header.headerSortDown i.icon-chevron-down {
   display : inline-block;
}

.table-sortable thead th.header.headerSortUp i.icon-resize-vertical,
.table-sortable thead th.header.headerSortDown i.icon-resize-vertical {
   display : none;
}

.comment-operator {
   border-radius  : 0 4px 4px 0;
   display        : inline-block;
   height         : 20px;
   resize         : none;
   margin         : 0;
   vertical-align : top;
   transition     : height 0.75s;
}

.comment-operator:focus {
   height : 100px;
}

.date.date-old {
   color : gray;
}

.supplier td {
   transition : background-color 0.75s;
}

#upload {
   display : inline-block;
}

#update {
   vertical-align : top;
}

.tab-content {
   overflow : visible;
}

.text-filter input[type=text] {
   width : inherit;
}

.modal-footer .article {
   margin : 0;
}

.container {
   width : 1260px !important;
}

input.input-tiny {
   width : 45px;
}

